<nav class="navbar navbar-custom">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">New Work City</a>
    </div>


  <nav class="collapse navbar-collapse navbar-right" role="navigation">
    <ul class="nav navbar-nav">
      <li><a href="/submit" class="navbar-link">Submit Show</a></li>
      <li><a href="/about" class="navbar-link">  About</a></li>
      <li><a href="/contact" class="navbar-link">Contact Us</a></li>
    </ul>
  </nav><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>

{{yield}}
