@import "ember-bootstrap/bootstrap";
@import "ember-power-calendar";

h1 {
  margin-top: 60px;
  font-size: 6em;
}

li {
  list-style-type: none;
}

.navbar-custom {
  background-color: darkslateblue;
}

.navbar-brand {
  color: white;
}

.navbar-link {
  color: white;
}

.icon-bar {
  background-color: white;
}

.demo-calendar-big {
  @include ember-power-calendar($cell-size: 100px);
  float: left;
  padding-right: 20px;
}

.ember-power-calendar {
  box-sizing: border-box;
  position: relative;
}

.ember-power-calendar-days {

}

.ember-power-calendar-nav {
  padding: 20px 5px;
  width: 100%;
  background: lightsteelblue;
  color: white;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
