@import "ember-bootstrap/bootstrap";
@import "ember-power-calendar";

h1 {
  margin-top: 60px;
  font-size: 6em;
}

li {
  list-style-type: none;
}

.headline {
  margin-top: 60px;
  font-size: 6em;
}

.byline {
  font-weight: bolder;
  padding-top: 20px;
}

.show {
  margin-top: 45px;
}

.home-button {
  color: white;
}

.index-headline {
  font-size: 2em;
}

.cat {
  font-size: 1.1em;
  margin-left: 20px;
}

.new-story {
  margin-top: 60px;
  padding-bottom: 20px;
}

.navbar {
  background-color: #F8F8F8;
}

/* Month Header */
.month {
  padding: 70px 25px;
  width: 100%;
  background: #1abc9c;
  text-align: center;
}

/* Month List */
.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* previous button */
.month .prev {
  float: left;
  padding-top: 10px;
}

/* next button */
.month .next {
  float: right;
  padding-top: 10px;
}

/* days of the week */
.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: #ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

/* days of the month */
.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size: 12px;
  color: #777;
}

/* Highlight current day */
.days li .active {
  padding: 5px;
  background: #1abc9c;
  color: white !important
}

.demo-calendar-small {
  @include ember-power-calendar($cell-size: 30px);
}
.demo-calendar-medium {
  @include ember-power-calendar($cell-size: 50px);
}
.demo-calendar-big {
  @include ember-power-calendar($cell-size: 70px);
}

.ember-power-calendar-nav {
  padding: 70px 25px;
  width: 100%;
  background: #1abc9c;
  color: white;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
}
